.lib-btn {
    font-size: 13pt;
    background-color: #ddd;
    min-height: 80px;
    width: 100%;
}
#filter-menu button:hover {
    border-bottom: solid;
    border-bottom-color: rgb(253, 232, 208);
}
.filterDiv {
    display: none;
    float: left;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.filterDiv .item img {
    margin-bottom: 10px;
    max-width: 100%;
}
.filterDiv .item {
    background-color: whitesmoke;
    padding: 15px;
    border: none;
    border-radius: 5%;
    width: 100%;
    height: max-content;
    float: left;
}
.filterDiv a {
    text-decoration: none;
    font-size: 17px;
    color: darkgray;
}
.library h1 {
    font-size: 40pt;
}