.lib-btn {
    font-size: 10pt;
    background-color: rgb(242, 242, 242);
    box-shadow: .5px .5px rgb(9, 89, 118);
    color: black;
    /* background-color: rgb(174, 226, 240); */

    /* background-color: rgb(200, 252, 199); */
    /* color: rgb(45, 225, 132); */
    min-height: 50px;
    width: 100%;
}
#filter-menu button:hover {
    border-bottom: solid;
    border-bottom-color: rgb(83, 191, 230);
}
.filterDiv {
    display: none;
    float: left;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.filterDiv .item img {
    margin-bottom: 10px;
    max-width: 100%;
}
.filterDiv .item {
    background-color: rgb(242, 242, 242);
    /* background-color: rgb(254, 254, 199); */
    box-shadow: .5px .5px rgb(9, 89, 118);
    padding: 15px;
    border: none;
    border-radius: 5%;
    width: 100%;
    height: max-content;
    float: left;
}
.filterDiv a {
    text-decoration: none;
    font-size: 17px;
    color: darkgray;
}
.library h1 {
    font-size: 40pt;
}