.lib-btn {
    font-size: 13pt;
}
#filter-menu button:hover {
    border-bottom: solid;
    border-bottom-color: gray;
}
.filterDiv {
    display: none;
    float: left;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.filterDiv .item img {
    height: 50%;
    margin-bottom: 10px;
}
.filterDiv .item {
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 20px;
    border: none;
    border-radius: 5%;
}
.filterDiv a {
    text-decoration: none;
    font-size: 17px;
    color: darkgray;
}